---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<button
    id={id}
    class="group w-fit flex px-3 py-1.5 flex-nowrap rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
    <div class="text-sm">{title}</div>
</button>
