---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
    href={href}
    download
    class="flex flex-row items-center decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 underline underline-offset-2 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out"
>
    {title}
</a>
