---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import DownloadLink from "@components/DownloadLink.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <div class="flex flex-wrap justify-between gap-x-2 items-center">
        <DownloadLink href="/cv.pdf" title="my cv" />

        <nav class="flex gap-1">
          <!-- <Link href="/blog">
          blog
          </Link>
          <span>
            {`/`}
            </span> -->
          <Link href="/work"> work </Link>
          <!-- <span>
              {`/`}
              </span>
              <Link href="/projects">
              projects
              </Link> -->
        </nav>
      </div>
    </div>
  </Container>
</header>
